<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spriteSheet_Girl_Jump-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,251}</string>
                <key>spriteSourceSize</key>
                <string>{129,251}</string>
                <key>textureRect</key>
                <string>{{1,1},{129,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spriteSheet_Girl_Jump-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{129,247}</string>
                <key>spriteSourceSize</key>
                <string>{129,251}</string>
                <key>textureRect</key>
                <string>{{132,1},{129,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spriteSheet_Girl_Jump-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{129,243}</string>
                <key>spriteSourceSize</key>
                <string>{129,251}</string>
                <key>textureRect</key>
                <string>{{263,1},{129,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spriteSheet_GirlJump.png</string>
            <key>size</key>
            <string>{393,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7e79d4d893c4a780534707f3e0e238a:2f69233272991166bda86e87fd8ec3e8:e3b5e20e1a18a19b4ad153a653b52900$</string>
            <key>textureFileName</key>
            <string>spriteSheet_GirlJump.png</string>
        </dict>
    </dict>
</plist>
