<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spriteSheet_Girl-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,240}</string>
                <key>spriteSourceSize</key>
                <string>{158,240}</string>
                <key>textureRect</key>
                <string>{{285,1},{158,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spriteSheet_Girl-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,244}</string>
                <key>spriteSourceSize</key>
                <string>{147,244}</string>
                <key>textureRect</key>
                <string>{{136,1},{147,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spriteSheet_Girl-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,246}</string>
                <key>spriteSourceSize</key>
                <string>{133,246}</string>
                <key>textureRect</key>
                <string>{{1,1},{133,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spriteSheet_Boy.png</string>
            <key>size</key>
            <string>{444,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e01423c7398c21987196811e9cb0b608:04d698719e1e8d30b4bd8dab368b08c9:75811bb9e15856f5fd265c7b4c224292$</string>
            <key>textureFileName</key>
            <string>spriteSheet_Boy.png</string>
        </dict>
    </dict>
</plist>
