<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spriteSheet_Girl-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,244}</string>
                <key>spriteSourceSize</key>
                <string>{147,244}</string>
                <key>textureRect</key>
                <string>{{263,1},{147,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spriteSheet_Girl-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,241}</string>
                <key>spriteSourceSize</key>
                <string>{125,241}</string>
                <key>textureRect</key>
                <string>{{544,1},{125,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spriteSheet_Girl-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,246}</string>
                <key>spriteSourceSize</key>
                <string>{133,246}</string>
                <key>textureRect</key>
                <string>{{128,1},{133,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spriteSheet_Girl-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,241}</string>
                <key>spriteSourceSize</key>
                <string>{130,241}</string>
                <key>textureRect</key>
                <string>{{412,1},{130,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spriteSheet_Girl-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,247}</string>
                <key>spriteSourceSize</key>
                <string>{125,247}</string>
                <key>textureRect</key>
                <string>{{1,1},{125,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spriteSheet_GirlRun.png</string>
            <key>size</key>
            <string>{670,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7a4158c4f388380704337102b4a85ad:4032f01635ec17f69f0d827300c6e7d2:c56d5d332972464942e6be95bfc3e167$</string>
            <key>textureFileName</key>
            <string>spriteSheet_GirlRun.png</string>
        </dict>
    </dict>
</plist>
